<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   Benutzeranwendung und konfigurierte Eigenschafteneinstellungen hier einfügen.-->
		<!--   Beispiel: <add key="settingName" value="settingValue"/> -->
		<add key="ConnectionString" value="workstation id=TRONIC;packet size=4096;user id=sa;data source=TRONIC;persist security info=False;initial catalog=UmfrageEditorDB" />
	</appSettings>
</configuration>